@{
    ViewBag.Title = "Product Edit";
}
@model Stock.Data.Product

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    <form id="formProductEdit" method="post">
                        <div class="form-body">
                            <h3 class="box-title">Product Edit</h3>
                            <hr>
                            <div class="form-group">
                                <label class="control-label">Brand</label>
                                <select name="BrandId" class="form-control select2">
                                    <option>Brand - Select</option>
                                    @{
                                        var selected = ViewBag.Brand as List<Stock.Data.Brand>;
                                         var BrandName=selected.Where(x => x.Id == Model.BrandId).FirstOrDefault().Name;
                                     }
                                    @foreach (var brand in ViewBag.Brand)
                                    {
                                        if (brand.Id == Model.BrandId)
                                        {
                                            <option selected value="@Model.BrandId">@BrandName</option>
                                        }
                                        else
                                        {
                                            <option value="@brand.Id">@brand.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ad</label>
                                <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Adet</label>
                                <input type="number" name="Piece" value="@Model.Piece" class="form-control" placeholder="Piece" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Buying Price</label>
                                <input type="text" name="BuyingPrice" value="@Model.BuyingPrice" class="form-control" placeholder="Buying Price" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Kdv</label>
                                <input type="text" name="Kdv" value="@Model.Kdv" class="form-control" placeholder="Örn : 2,1" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Sales Price</label>
                                <input type="text" name="SalesPrice" value="@Model.SalesPrice" class="form-control" placeholder="Sales Price" required>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Edit</button>
                            <a href="@Url.Action("StockInProduct","Product")" class="btn btn-default">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/mask.js"></script>

    <script>
        function direct() {
            location.href = '/Product/StockInProduct';
        }
        //Product Edit
        $("#formProductEdit").on("submit", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: '/Product/Edit',
                data: $(this).serialize(),
                dataType: "json",
                success: function (result) {
                    if (result == "1") {
                        swal("Edit", "Product Successfully Updated!", "success");
                        setTimeout('direct()', 2000)
                    }
                    else
                        swal("Error", "An error has occurred!", "error");
                },
                error: function () {
                    swal("Error", "An error has occurred!", "error");
                }
            });
        });

    </script>
}